.jp-Julynter-content {
  flex: 1 1 auto;
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: auto;
  background-color: var(--jp-layout-color1);
}

.jp-Julynter-content li {
  display: flex;
  flex-direction: row;
  padding: 4px 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  padding-top: 8px;
  padding-bottom: 8px;
}

.jp-Julynter-content li:hover {
  background: var(--jp-layout-color2);
}

.jp-Julynter {
  display: flex;
  flex-direction: column;
  background: var(--jp-layout-color1);
  color: var(--jp-ui-font-color1);
  font-size: var(--jp-ui-font-size0);
  height: 100%;
}

.jp-Julynter header {
  border-bottom: var(--jp-border-width) solid var(--jp-border-color2);
  flex: 0 0 auto;
  font-size: var(--jp-ui-font-size0);
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0px;
  padding: 12px 0 4px 12px;
  text-transform: uppercase;
}
/*
[data-jp-theme-light='true'] .jp-Julynter-icon {
  background-image: url(list-light.svg);
}

[data-jp-theme-light='false'] .jp-Julynter-icon {
  background-image: url(list-dark.svg);
}

*/

.julynter-toolbar-icon,
.julynter-toolbar-icon-selected {
  float: left;
  padding: 0px;
  margin: 4px;
  background-repeat: no-repeat;
  background-color: none;
  background-size: 100%;
  background-position: center;
  height: 24px;
  width: 24px;
  margin: 4px;
  border-radius: 2px;
}

[data-jp-theme-light='true'] .julynter-toolbar-title-icon {
  background-image: url('img/title.svg');
}

[data-jp-theme-light='false'] .julynter-toolbar-title-icon {
  background-image: url('img/title_darktheme.svg');
}

[data-jp-theme-light='true'] .julynter-toolbar-hidden-state-icon {
  background-image: url('img/hidden_state.svg');
}

[data-jp-theme-light='false'] .julynter-toolbar-hidden-state-icon {
  background-image: url('img/hidden_state_darktheme.svg');
}

[data-jp-theme-light='true'] .julynter-toolbar-confuse-notebook-icon {
  background-image: url('img/confuse_notebook.svg');
}

[data-jp-theme-light='false'] .julynter-toolbar-confuse-notebook-icon {
  background-image: url('img/confuse_notebook_darktheme.svg');
}

[data-jp-theme-light='true'] .julynter-toolbar-import-icon {
  background-image: url('img/import.svg');
}

[data-jp-theme-light='false'] .julynter-toolbar-import-icon {
  background-image: url('img/import_darktheme.svg');
}

[data-jp-theme-light='true'] .julynter-toolbar-absolute-path-icon {
  background-image: url('img/absolute_path.svg');
}

[data-jp-theme-light='false'] .julynter-toolbar-absolute-path-icon {
  background-image: url('img/absolute_path_darktheme.svg');
}

[data-jp-theme-light='true'] .julynter-toolbar-cell-icon {
  background-image: url('img/cell.svg');
}

[data-jp-theme-light='false'] .julynter-toolbar-cell-icon {
  background-image: url('img/cell_darktheme.svg');
}

[data-jp-theme-light='true'] .julynter-toolbar-type-icon {
  background-image: url('img/type.svg');
}

[data-jp-theme-light='false'] .julynter-toolbar-type-icon {
  background-image: url('img/type_darktheme.svg');
}

[data-jp-theme-light='true'] .julynter-toolbar-list-icon {
  background-image: url('img/list.svg');
}

[data-jp-theme-light='false'] .julynter-toolbar-list-icon {
  background-image: url('img/list_darktheme.svg');
}

[data-jp-theme-light='true'] .julynter-toolbar-rename-icon {
  background-image: url('img/rename.svg');
}

[data-jp-theme-light='false'] .julynter-toolbar-rename-icon {
  background-image: url('img/rename_darktheme.svg');
}

[data-jp-theme-light='true'] .julynter-toolbar-icon:hover {
  background-color: var(--jp-input-background);
}

[data-jp-theme-light='false'] .julynter-toolbar-icon:hover {
  background-color: #3a3a3a;
}

[data-jp-theme-light='true'] .julynter-toolbar-icon-selected {
  background-color: var(--jp-layout-color2);
}

[data-jp-theme-light='false'] .julynter-toolbar-icon-selected {
  background-color: #565656;
}

/*
.julynter-toolbar-title-icon {
  width: 30px;
  height: 22px;
  margin: 4px 9px 4px 4px;
  content: "T";
}*/

.julynter-toolbar {
  position: relative;
  width: 100%;
  margin: 0px;
  user-select: none;
  border-bottom: var(--jp-border-width) solid var(--jp-border-color2);
  height: 36px;
  display: flex;
  align-items: center;
}

.julynter-entry-holder {
  display: inline-flex;
  position: relative;
  align-items: center;
  width: 100%;
}

.julynter-collapse-button {
  padding-left: 3px;
  cursor: default;
  min-width: 11px;
  position: absolute;
}

.julynter-arrow-img {
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  background-repeat: no-repeat;
}

.julynter-downarrow-img {
  width: 12px;
  height: 6px;
}

[data-jp-theme-light='true'] .julynter-downarrow-img {
  background-image: url('img/toggle_down.svg');
}

[data-jp-theme-light='false'] .julynter-downarrow-img {
  background-image: url('img/toggle_down_darktheme.svg');
}

.julynter-rightarrow-img {
  width: 7px;
  height: 12px;
}

[data-jp-theme-light='true'] .julynter-rightarrow-img {
  background-image: url('img/toggle_right.svg');
}

[data-jp-theme-light='false'] .julynter-rightarrow-img {
  background-image: url('img/toggle_right_darktheme.svg');
}

.julynter-twist-placeholder {
  max-width: 10px;
  opacity: 0;
  overflow: hidden;
}

.julynter-report-div {
  display: inline-flex;
  width: 100%;
}

.julynter-has-parent {
  padding-left: 24px;
}

.julynter-normal-size {
  font-size: var(--jp-ui-font-size1);
}

.julynter-title-size {
  font-size: var(--jp-ui-font-size2);
}